
.headerLogin{
    border: 1px solid gray;
    display: flex;
    flex-wrap: nowrap;
    max-width: 70%;
    margin-left: 320px;
}

.name{
    font-size: 35px;
    padding-left: 20px;
    padding-right: 30px;
}

.square{
    border: 2px solid black;
    height: 45px;
    width: 45px;
    margin-right: 20px;
    margin-left: 30px;
    position: relative;
    top: 10px;
}