*{
    box-sizing: border-box;
}
.button{
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 0px;
    margin-left: 30px;
    margin-top: 50px;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Lora', serif;
    max-width: 150px;
    background-color: #85ffe2;
    border: 3px solid #0ff0bb;
    border-radius: 5px;
    cursor: pointer;
}
