<div class="container">
    <div class="container__wrapper">
        <div class="Header">
            <input type="text" class="nameCource" placeholder="Enter name">
        </div>
        <div class="info">
            <input type="text" class="infoAboutCource" placeholder="Enter info about cource">
        </div>
        <div class="footer">
            <div class="author">
                <input type="text" class="authorName" placeholder="Your name">
            </div>
            <div class="save">
                <button class="saveCource">Add Cource</button>
            </div>
        </div>
        
    </div>
</div>
