
<div class="container">
    <div class="container_wrapper">
        <div class="Header">
                <input type="text"
                    class="nameCource"
                    placeholder="Enter name"
                    [(ngModel)]="cources.name"
                    >
            </div>
            <div class="info">
                <input type="text"
                    class="infoAboutCource"
                    placeholder="Enter info about cource"
                    [(ngModel)]="cources.synopsis"
                >
            </div>
            <div class="footer">
                <div class="author">
                    <input type="text"
                        class="authorName"
                        placeholder="Your name"
                        [(ngModel)]="cources.author"
                        >
                </div>
                <div class="save">
                    <button routerLink="/courсes" class="saveCource" on-click="saveCource()" >Add Cource</button>
                    <p class="enterSave" [hidden]="visible">*Enter something everywhere</p>
                </div>
            </div>        
    </div>
    
</div>
