.container{
    display: flex;
    justify-content: center;
}

.container_wrapper{
    display: flex;
    flex-direction: column;
}

.nameCource, .infoAboutCource, .authorName{
    background-color: #85ffe2;
    border: 3px solid #85ffe2;
    border-radius: 5px;
    outline:none;
    cursor: pointer;
    font-family: 'Lora', serif;
}    


.nameCource{
    font-size: 30px;
    margin: 30px 0;
    padding: 10px;
}

.infoAboutCource{
    width: 1080px;
    height: 500px;
    font-size: 20px;
    padding: 20px;
    position: relative;
}

.authorName{
    font-size: 30px;
    margin: 30px 0;
    outline: none;
    padding: 10px;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.saveCource{
    font-family: 'Lora', serif;
    font-size: 30px;
    margin: 30px 0px;
    padding: 10px;
    width: 200px;
    background-color: #85ffe2;
    border: 3px solid #0ff0bb;
    border-radius: 5px;
    cursor: pointer;
}

.enterSave{
    color: red;
}

input::placeholder, textarea::-webkit-input-placeholder{
    color: #00241f;
}