<form>
  <div class="container">
    <div class="container__wrapper">
      <div class="authentication">
        <div class="uncorrect" name="uncorrect" [hidden]="removeWarning">
          *Uncorrect login or password
        </div>
        <div class="login">
          <label for="login">Login</label>
          <input
            type="text"
            class="form-control"
            id="login"
            name="inputLogin"
            placeholder="Enter"
            [(ngModel)]="inputLogin"
          />
        </div>
        <div class="password">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter"
            name="inputPassword"
            [(ngModel)]="inputPassword"
          />
        </div>
        <br />
        <button
          routerLink="/courсes"
          name="button"
          (click)="validation.myValid(this.inputLogin, this.inputPassword);hideIt()"
          class="button"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</form>
