.container{
    font-family: 'Lora', serif;
    margin-top: 20px;
}
.name{
    text-indent: 2em;
    font-size: 35px;
    margin-top: 20px;
}

.synopsis{
    text-indent: 2em;
    font-size: 20px;
}

.author{
    text-indent: 2em;
    font-size: 25px;
}